<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <link rel="stylesheet"   href="{% static 'css/style.css' %}" type="text/css"/>    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Standard CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Bootstrap Standard JavaScript -->
    <!-- jQuery, Popper.js, Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}What's the Dealio?{% endblock %}</title>
</head>
<body>
   <!-- Nav bar min md down full lg up -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-danger">
        <div class= "rounded-pill" style="background-color:white">
        <a class="navbar-brand" href = "/">
            <img src = "{% static 'images/dealio-icon.png' %}" alt = "Dealio Logo" style="width:100px;height:51px;">
        </a>
            </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 align-items-center">
                <li>
                    <form id="menu-search" class="form-inline my-2 my-lg-0 d-lg-none" method="GET" action="{% url 'search' %}">
                        <input class="form-control mr-sm-2" type="search" results=5 placeholder="What's the Dealio?" name="Search" value ="{{ request.GET.search }}">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hot Dealios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Settings</a>
                </li>
            </ul>
            <form id="nav-search" class="form-inline my-2 my-lg-0 d-none d-lg-block" method="GET" action="{% url 'search' %}">
                <input class="form-control mr-sm-2" type="search" results=6 placeholder="What's the Dealio?" name="Search" value ="{{ request.GET.search }}">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
<!-- I'm guessing this is Jason's code, I didn't want to destroy it in case it needs to be used going forward, so just commented it out

    <div class="container" id="main-content">
        <div class="row">
            <div class="col-lg-" id="filter-pane">

                <div class ="card-body filter-container" id="price-container">
                    <a data-toggle="collapse" href="#priceFilterCollapse" role="button" aria-expanded="true" aria-controls="collapseExample">
                        <b>Price</b>
                    </a>
                    </br>
                    <div class="collapse" id="priceFilterCollapse">
                        <input class="form-check-input" type="checkbox" value="100" id="priceFilter1">
                        <label class="form-check-label" for="priceFilter1">$0 - $100 </label>
                        <br/>

                        <input class="form-check-input" type="checkbox" value="200" id="priceFilter2">
                        <label class="form-check-label" for="priceFilter2">$100 - $200 </label>
                        <br />

                        <input class="form-check-input" type="checkbox" value="250" id="priceFilter3">
                        <label class="form-check-label" for="priceFilter3">$200 - $250 </label>
                        <br/>

                        <input class="form-check-input" type="checkbox" value="300" id="priceFilter4">
                        <label class="form-check-label" for="priceFilter4">$250 - $300 </label>
                        <br/>

                        <input class="form-check-input" type="checkbox" value="350" id="priceFilter5">
                        <label class="form-check-label" for="priceFilter5">$300 - $350 </label>
                        <br/>

                        <input class="form-check-input" type="checkbox" value="400" id="priceFilter6">
                        <label class="form-check-label" for="priceFilter6">$350 - $400 </label>
                        <br/>
                    </div>
                </div>
                <div class ="card-body filter-container" id="store-container">
                        <a data-toggle="collapse" href="#storeFilterCollapse" role="button" aria-expanded="true" aria-controls="collapseExample">
                            <b>Stores</b>
                        </a>
                        </br>
                        <div class="collapse" id="storeFilterCollapse">
                            <input class="form-check-input" type="checkbox" value="Amazon" id="amazonFilter">
                            <label class="form-check-label" for="amazonFilter">Amazon</label>
                            <br/>

                            <input class="form-check-input" type="checkbox" value="bestbuy" id="BestBuyFilter">
                            <label class="form-check-label" for="BestBuyFilter">Best Buy </label>
                            <br />

                            <input class="form-check-input" type="checkbox" value="Target" id="targetFilter">
                            <label class="form-check-label" for="priceFilter3">Target</label>
                            <br/>

                            <input class="form-check-input" type="checkbox" value="walmart" id="walmartFilter">
                            <label class="form-check-label" for="walmartFilter">Wal-mart </label>
                            <br/>
                        </div>
                    </div>

            </div>

            <div class="col" id="content">

                block was originally here

            </div>
        </div>
    </div>

   -->
   <div id="content">
       {%block content%}
           This is a fallback text.
       {%endblock%}
    </div>


    <footer class="container d-flex justify-content-center">
        <div>
            <p><a class="foot-links" href="{%  url 'about_us' %}">About Us</a> | <a class="foot-links" href="{%  url 'contact_us' %}">Contact Us</a> | <a class="foot-links" href="{%  url 'help_page' %}">Help</a> | <a class="foot-links" href="{% url 'privacy_policy' %}">Privacy Policy</a> | <a class="foot-links" href="{% url 'terms' %}">Terms of Service</a></p>
        </div>
    </footer>

    </body>

</html>