{%extends 'base.html'%}
    {%block content%}
    <div id="Space"></div>
        <div id="textContainer">
            <div id = "centerDiv" align = center>
                <p>Privacy Notice</p>
                <div class = "smallText">
                    <p>"This privacy notice discloses the privacy practices for (What's the Dealio).  This privacy notice applies soley to information collected by this website.  It will notify you of the following:</p>
                </div>
                <ol type="1" id="infoList" align = left>
                    <li>The only personal identification kept by What's the Dealio is the provided email addresses associated with your account.</li>
                    <li>This information is used soley by What's the Dealio to send notifications and is not available to any other parties.</li>
                    <li>If there are any inconsistencies in this information, they can be corrected in the profile settings in What's the Dealio.</li>
                </ol>
                <p>Information Collection, Use, and Sharing</p>
                <div class = "smallText">
                    <p>We are the sole ownder of the information collected on this site.  We only have access to/collect information that you voluntarily give us via email or other direct contact from you.  We will not sell or ren this information to anyone.</p>
                    <p>We will use your information to respond to you, regarding the reason you contacted us.  We will not share your information with any third party outside of our orgranization.</p>
                    <p>Unless you ask us not to, we may contact you via email in the fugure to tell you about specials, new products or services, or changes to this privacy policy.</p>
                </div>
                <p>Your Access to and Control Over Information</p>
                <div class = "smallText">
                    <p>You may opt out of any future contacts from us at any time.  You can do the following at any time by contacting us vial the contact us page on the our website:</p>
                </div>
                <ul id = "infoList" align = left>
                    <li>See what data we have about you, if any.</li>            
                    <li>Change/correct any data we have about you.</li>
                    <li>Have us delete any data we have about you.</li>
                    <li>Express any convern you hhave about our use of your data.</li>
                </ul>
                <p>Security</p>
                <div class = "smallText">
                    <p>We take precautions to protect your information.  When you submit infomration via the website, your information is protected both online and offline.</p>
                    <p>You data is not only protected online, but offline as well.  Only employees who need the information to perform a specific job are granted access to personally identifiable information.</p>
                </div>
                <p id = "privacyConcern">If you feel we are not abiding by this privacy policy, you should contact us immediately via the contact us page on the website.</p>
            </div>
        </div>
        <div id="Space"></div>   
        {% csrf_token %}   
    {% endblock %} 

