{%extends 'base.html'%}
    {%block content%}
{% load static %}
    <p></p>
    <link rel="stylesheet"   href="{% static 'css/style.css' %}" type="text/css"/>
        <div id="Space"></div>
            <div id="textContainer">
                <div id = "centerDiv" align = center>
                    <p>Terms of Services</p>
                    <div class = "smallText" align = center>
                        <p>
                            These are the Terms of Service for the 424 Software Engineering II class project.
                            The deals may not be valid, and no transactions will be made through this website.
                        </p>
                    </div>
                </div>
            </div>
        <div id="Space"></div>
        {% csrf_token %}
    {% endblock %}