{%extends 'base.html'%}
    {%block content%}


    <div id="Space"></div>
        <div id="textContainer">
            <div id = "centerDiv" align = center>
                <p>Terms and Conditions</p>
                <div class = "smallText">
                    <p>
                            These are the terms and conditions for the class of 424 Software Engineering II project. The deals may not be valid, and no transactions will be made through this website.
                    </p>

                </div>


             </div>
        </div>
        <div id="Space"></div>


        {% csrf_token %}
    {% endblock %}